{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Ejercicio imagen</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ex! Perspiciatis fugiat fuga at, dolorem nisi suscipit incidunt tempore alias saepe sit error repellat laborum cumque ducimus, necessitatibus corrupti tempora?</p>
    </div>

    <div class="col-4">
        <img src="assets/img/somos_novios.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}